* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container{    
    width: 100%;
    margin: 0 auto;
}

.row:before, .row:after{
    content: "";
    display: table;
}

.row:after{
    clear: both;
}

[class*="col-"]{
   min-height: 7px;
   float: left;
   padding: 12px;
}

.col-1{
    /*(1/12)*100*/
    width: 8.333333%;
}

.col-2{
    /*(2/12)*100*/
    width: 16.666667%;
}

.col-3{
    /*(3/12)*100*/
    width: 25%;
}

.col-4{
    /*(4/12)*100*/
    width: 33.333333%;
}

.col-5{
    /*(5/12)*100*/
    width: 41.666667%;
}

.col-6{
    /*(6/12)*100*/
    width: 50%;
}

.col-7{
    /*(7/12)*100*/
    width: 58.333333%;
}

.col-8{
    /*(8/12)*100*/
    width: 66.666667%;
}

.col-9{
    /*(9/12)*100*/
    width: 75%;
}

.col-10{
    /*(10/12)*100*/
    width: 83.333333%;
}

.col-11{
    /*(11/12)*100*/
    width: 91.666667%;
}

.col-12{
    /*(12/12)*100*/
    width: 100%;
}

.img-responsive{
    max-width: 100%;
    width: 100%;
}

/* ESTILOS GENERALES */

nav, header, section, footer {
    padding-left: 5.3em !important;
    padding-right: 5.3em !important;
}

nav#barra_menu {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background-color: #2C3E50;
    color: white;
    position: fixed;
    height: 6.5em;
    z-index: 1;
}

#barra_menu a {
    color: white;
    text-decoration: none;
}

header {
    margin-top: 6.5em; 
    padding-bottom: 4.8em !important; 
    background-color: #18BC9C;
    color: white;
}

header img {
    margin-top: 2.5em;
    margin-bottom: 1em;
}

header h1 {
    padding-top: 0;
    font-size: 4em;
    font-weight: bold;
}

section {
    padding-bottom: 6em !important;
}

#about {
    background-color: #18BC9C;
    color: white;
}

#about p {
    font-size: 1.2em;
}

#section-social {
    background-color: #2C3E50;
    color: white;
}

#footer {
    background-color: #233140;
    color: white;
}

.gris {
    color: #333333;
}

.gris-claro {
    color: #2C3E50;
    background-color: #2C3E50;
}

div#enlaces_menu {
    text-align: right;
}

div#enlaces_menu a {
    padding: 1em;
    font-weight: bold;
}

div#enlaces_menu a:hover {
    color: #18BC9C;
}

.contenedor_imagenes:hover {
    cursor: pointer;
}

/*Modal*/
#box-services-modal{
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: overlay;
}

#box-services-modal .modal-body{
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 100px;
 }

#box-services-modal .close{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#box-services-modal .close img{
  width: 60px;
}

.oculto{
  display: none;
}

.modal-body img {
  width: 100%;
  min-width: 290px;
}

#boton_descargas button, .button-contacto {
    margin-top: 15px;
    padding: 10px 16px;
    font-size: 1.3em;
    border-radius: 6px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: 0.8s;
}

#boton_descargas button {
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    background-color: rgba(0,0,0,0);
}

#boton_descargas button:hover {
    background-color: whitesmoke;
    color: #18bc9c;
    transition: 0.8s;
}

.button-contacto {
    color: #fff;
    background-color: #18BC9C;
    border-color: #18BC9C;
    border-radius: 6px;
    border: 0;
}

.button-contacto:hover {
    background-color: #128F76;
}

#contact form div {
    text-align: left;
    width: 68%;
    margin: 0 auto;
}

input, textarea {
    padding-right: 0;
    padding-left: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.4em;
    border: 0;
    border-top: 1px solid #eee;
    width: 68%;
}

input::placeholder, textarea::placeholder{
    color: #999;
}

#section-social h1 {
    padding-top: 2em;
    padding-bottom: 1em;
}

#section-social p, #section-social i {
    font-size: 1.2em;
}

#section-social i {
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 12px;
    margin: 4px;
    width: 50px;
    height: 50px;
    font-size: 1.4em;
    transition: 0.8s;
}

#section-social i:hover {
    background-color: whitesmoke;
    color: #128f76;
    transition: 0.8s;
}


/*
#menu {
    background-color: #2B3C4E;
    position: fixed;
    height: 15%;
}

#derecho {
    float: right;
}

.row h1, .row li {
    font-weight: bold;
    color: white;
    font-family: 'Paytone One', sans-serif;
    cursor: pointer;
}

.row h1 {
    font-size: 1.5em;
    padding: 10px;
    margin-left: 20px;
}

.row li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin-right:30px;   

}

.row li:hover {
    color: #18BC9C;   

}
*/