*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container{    
    width: 100%;
    margin: 0 auto;
}

.row:before, .row:after{
    content: "";
    display: table;
}

.row:after{
    clear: both;
}

[class*="col-"]{
     min-height: 7px;
     float: left;
     padding: 12px;
}

.col-1{
    /*(1/12)*100*/
    width: 8.333333%;
}

.col-2{
    /*(2/12)*100*/
    width: 16.666667%;
}

.col-3{
    /*(3/12)*100*/
    width: 25%;
}

.col-4{
    /*(4/12)*100*/
    width: 33.333333%;
}

.col-5{
    /*(5/12)*100*/
    width: 41.666667%;
}

.col-6{
    /*(6/12)*100*/
    width: 50%;
}

.col-7{
    /*(7/12)*100*/
    width: 58.333333%;
}

.col-8{
    /*(8/12)*100*/
    width: 66.666667%;
}

.col-9{
    /*(9/12)*100*/
    width: 75%;
}

.col-10{
    /*(10/12)*100*/
    width: 83.333333%;
}

.col-11{
    /*(11/12)*100*/
    width: 91.666667%;
}

.col-12{
    /*(12/12)*100*/
    width: 100%;
}

.img-responsive{
    max-width: 100%;
    width: 100%;
}

/* ESTILOS GENERALES */

nav#barra_menu {
    padding: 1.5em 3em;
    background-color: #2C3E50;
    color: white;
    position: fixed;
    height: 6.5em;
    z-index: 999;
}

#barra_menu a {
    color: white;
    text-decoration: none;
}

header {
    margin-top: 6.5em; 
    background-color: #18BC9C;
    color: white;
}

header img {
    margin-top: 2.5em;
    margin-bottom: 1em;
}

header .titulo h1 {
    font-size: 4em;
    font-weight: bold;
}

#about {
    background-color: #18BC9C;
    color: white;
}

#section-social {
    background-color: #2C3E50;
    color: white;
}

#footer {
    background-color: #233140;
    color: white;
}

.gris {
    color: #333333;
}

.gris-claro {
    color: #2C3E50;
    background-color: #2C3E50;
}

div#enlaces_menu {
    text-align: right;
}

div#enlaces_menu a {
    padding: 1em;
    font-weight: bold;
}

div#enlaces_menu a:hover {
    color: #18BC9C;
}

/*
#menu {
    background-color: #2B3C4E;
    position: fixed;
    height: 15%;
}

#derecho {
    float: right;
}

.row h1, .row li {
    font-weight: bold;
    color: white;
    font-family: 'Paytone One', sans-serif;
    cursor: pointer;
}

.row h1 {
    font-size: 1.5em;
    padding: 10px;
    margin-left: 20px;
}

.row li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin-right:30px;   

}

.row li:hover {
    color: #18BC9C;   

}
*/